@import './fonts.scss';
@import '../vendor/materialize.min.css';

* {
  font-family: 'Murecho' , 'Montserrat', sans-serif;
}

button:focus {
  outline: none;
  background: none;
}

/* Blocks */
@import '../blocks/preloader.scss';
@import '../blocks/page.scss';
@import '../blocks/header.scss';
@import '../blocks/works.scss';
@import '../blocks/about.scss';
@import '../blocks/footer.scss';
@import '../blocks/promo.scss';
