.about {
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.about__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 60%;
}

.about__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__description {
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(245, 245, 245);
}

.about__title {
  display: block;
  padding-top: 50px;
  color: #64bcff;
  font-size: 40px;
  font-weight: bold;
}

.about__text {
  margin-top: 50px;
  padding-bottom: 50px;
  display: block;
  font-size: 25px;
}

@media screen and (max-width: 1200px) {
  .about__title {
    padding-top: 25px;
  }
  .about__text {
    margin-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 1091px) {
  .about__text {
    margin-top: 0;
  }
}


@media screen and (max-width: 1024px) {
  .about__title {
    padding-top: 0;
  }
  .about__text {
    margin-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 977px) {

  .about__text {
    font-size: 17px;
  }
}


@media screen and (max-width: 750px) {
  .about__title {
    font-size: 17px;
  }
  .about__text {
    font-size: 15px;
  }
}


@media screen and (max-width: 626px) {
  .about__photo {
    width: 150%;
    justify-self: right;
  }
}


@media screen and (max-width: 542px) {
  .about__description {
    padding: 0 10px;
  }
}

@media screen and (max-width: 482px) {
  .about__text {
    font-size: 13px;
  }
}

@media screen and (max-width: 390px) {
  .about__photo {
    width: 180%;
    justify-self: right;
  }
}

@media screen and (max-width: 348px) {
  .about__photo {
    width: 214%;
    justify-self: right;
  }
}
