
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.works {
  position: relative;
  margin-top: 100vh;
  margin-top: var(--100vh, 100vh);
  padding-bottom: 100px;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  box-shadow: rgb(35 35 50 / 80%) 0px 0px 11px -2px;
  transition: all 1s;
  &::before {
    font-family: 'Pacifico';
    content: 'Rachkov Artem';
    font-size: 45px;
    line-height: 1;
    display: block;
    position: absolute;
    top: -95vh;
    top: calc((var(--vh, 1vh) * -95));
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 45px;
  }

}

.works__lang-links-wrapper {
  display: flex;
  gap: 15px;
  position: absolute;
  top: -95vh;
  top: calc((var(--vh, 1vh) * -95));
  right: 0;
  transform: translateX(-50%);
}

.works__btn-lang {
  background-color: rgba(0,0,0, .0);
  border: none;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    opacity: 0.8;
  }
}

.works__btn-lang_active {
  text-decoration: underline;
}


.works__title {
  margin: 0;
  text-align: center;
  color: rgb(133, 133, 133);
  font-size: 40px;
  margin-bottom: 40px;
}

.works__disclamer {
  text-align: center;
  font-size: 10px;

}

.works__grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(6, 170px);
  gap: 15px;
}

.works__item {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 122%;
  background-color: rgb(116, 110, 110);
  transition: background-size 1s;
  -moz-transition: background-size 1s;
  -ms-transition: background-size 1s;
  -o-transition: background-size 1s;
  -webkit-transition: background-size 1s;
  &:hover {

    background-size: 130%;
  }
  a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .4);
    z-index: 1;
    transition: all 1s;
  }
  span {
    overflow: hidden;
    width: 100%;
    margin: auto;
    color: #fff;
    font-size: 2vw;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    z-index: 2;
  }
  &:hover span {
    opacity: 100;
  }

  &:hover::before {
    background-color: rgba(#4484b4, .6);
  }


}

.works__item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url('../images/jstimer.png');
}

.works__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 4;
  background-image: url('../images/jsbattleship.png');
}

.works__item:nth-child(3) {
  grid-area: 2 / 1 / 4 / 3;
  background-image: url('../images/food.png');
}

.works__item:nth-child(4) {
  grid-area: 2 / 3 / 5 / 4;
  background-image: url('../images/leaderboard.png');
}

.works__item:nth-child(5) {
  grid-area: 4 / 1 / 6 / 2;
  background-image: url('../images/rt.png');
}

.works__item:nth-child(6) {
  grid-area: 4 / 2 / 5 / 3;
  background-image: url('../images/sitev1.png');
}

.works__item:nth-child(7) {
  grid-area: 5 / 2 / 7 / 4;
  background-image: url('../images/htl.png');
}

.works__item:nth-child(8) {
  background-image: url('../images/slider.png');
}

.other {
  height: 200px;
}


@media screen and (max-width: 1200px) {
  .works__grid {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .works__grid {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .works {
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: var(--100vh, 100vh);
    &::before {

      top: -90vh;
      top: calc((var(--vh, 1vh) * -90));

    }
  }




  .works__lang-links-wrapper {

    top: -90vh;
    top: calc((var(--vh, 1vh) * -90));

  }


  .works__title {
    font-size: 30px;
  }

  .works__grid {
    width: initial;
    grid-template-rows: repeat(6, calc(100vw*0.1758));
    grid-template-columns: 39% 39% 19%;
    gap: 1.5%;
    padding-bottom: 1.5%;
  }

  .works {

    &::before {
      font-size: calc(100vw/17);
      width: initial;
    }
  }

  .works__lang-links-wrapper {
    right: -40px;
  }
}

@media screen and (max-width: 542px) {
  .works__btn-lang {
    font-size: 19px;
  }
}
